.float-label {
  position: relative;
}

.label {
  font-size: 12px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 12px;
  top: 12px;
  transition: 0.2s ease all;
}

.label-float {
  top: -8px;
  font-size: 14px;
  background-color: #2a2a2a;
}
