.carousel-card {
  width: 100%;
  padding: 40px 20px;
  padding-bottom: 150px;
  min-height: 800px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  position: relative;
  z-index: 2;
  & .background {
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    inset: 0;
    z-index: -1;
    &:after {
      content: '';
      background: linear-gradient(
        270deg,
        #000000 -2.92%,
        rgba(0, 0, 0, 0) 100%
      );
      position: absolute;
      inset: 0;
      z-index: 1;
    }
  }
  .play-button {
    position: absolute;
    height: 130px;
    width: 130px;
    object-fit: contain;
    left: 100px;
    top: 50%;
    cursor: pointer;
    z-index: 10;
    :hover {
      transform: scale(1.1);
    }
  }
}

.indicator {
  width: 220px;
  height: 120px;
  border-radius: 10px;
  margin: 0 20px;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
  background-position: center bottom;
  background-size: 200px 250px;
  transition: all 0.25s ease;
}
.film-section {
  padding: 30px 15px;
  max-width: 100%;
}
